# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf

# Custom for Visual Studio
*.sln    merge=union eol=crlf
*.csproj merge=union eol=crlf
*.vbproj merge=union eol=crlf
*.fsproj merge=union eol=crlf
*.dbproj merge=union eol=crlf